<p id="notice"><%= notice %></p>

<h1>Fridge Events</h1>

<table>
  <thead>
    <tr>
      <th>Temperature</th>
      <th>Temperature</th>
      <th>Door open</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fridge_events.each do |fridge_event| %>
      <tr>
        <td><%= fridge_event.temperature %></td>
        <td><%= fridge_event.temperature %></td>
        <td><%= fridge_event.door_open %></td>
        <td><%= link_to 'Show', fridge_event %></td>
        <td><%= link_to 'Edit', edit_fridge_event_path(fridge_event) %></td>
        <td><%= link_to 'Destroy', fridge_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fridge Event', new_fridge_event_path %>
